/* pc*/

@media (min-width:1024px) {}


/* table */
@media (max-width: 1023px) and (min-width: 740px) {
    .container {
        padding: 80px 0;
    }
}


/* mobile */

@media (max-width: 739px){
    body {
        font-size: 12px;
    }
    .search {
        display: none;
    }
    .menu {
        display: block;
    }
    
    .container {
        padding: 20px 0px;
        margin: 0 20px;
        font-size: 12px;
        text-align: center;
    }
    .container >.title {
        font-size: 20px;
        letter-spacing: 2px;
        margin-bottom: 10px;
    }

    .container>.sup-title {
        margin-bottom: 11px;
        font-size: 10px;
    }

    #container-member {
        display: block;
    }
    #tickets>li {
        font-size: 12px;
    }
   .text > h3 {
    margin: 2px;
    font-size: 15px;
    text-align: center;
   }

   #tickets .remaining {
    margin: 3px;
   }

   .text {
    bottom: 10px;
   }
   #scheduel {
    display: block;
   }
   nav {
    display: inline-block;
   }
   #header {
    overflow: hidden;
    display: inline-block;
   }
   #header > a {
    display: block;
   }
   #header > a:nth-child(0)
   {
    display: inline-block;
   }
   h2 {
    font-size: 0.5rem;
   }

   .cover-3>button {
       padding: 4px 6px;
       font-size: 12px;
   }
   #address-row {
    display: inline-block;
    margin-bottom: 100px;
}

   #input-form {
    display: block;
    width: 100%;
   }
   #mess {
    top: 160px;
   }
   #name {
    margin-top: 10px;
   }
   #mess, #mail, #name {
    width: 100%;
   }
   #send {
    position: relative;
    top: 200px;
    right: -37px;
   }
   footer {
    margin: 50px auto;
   }

   footer > p {
    padding: 10px;
    font-size: 15px;
   }
}